@import "lib/scss/shared";

$offset: 120px;
$imageHeightXs: 280px;
$imageHeightMd: 474px;
$imageHeightLg: 608px;

.readyToInvestGroup {
  margin: $spacingBase * 5 0;
}

.carousel {
  :global(.slick-dots) {
    bottom: 240px;

    @include media-breakpoint-up(md) {
      bottom: 65px;
    }

    @include media-breakpoint-up(lg) {
      bottom: 70px;
    }
  }
}

.slideContainer {
  margin: 0 auto;
  max-width: 1268px;
  height: 100%;
}

.slide {
  position: relative;
  padding: 0 $spacingBase * 5;
  height: 100%;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column-reverse;
  }

  @include media-breakpoint-up(md) {
    min-height: $imageHeightMd;
    padding: 0;
    margin: 0 $spacingBase * 3 0 $offset;
  }

  @include media-breakpoint-up(lg) {
    min-height: $imageHeightLg;
  }
}

.quote {
  padding: $spacingBase * 5 $spacingBase * 5 $spacingBase * 5;
  background-color: $white;

  @include media-breakpoint-up(md) {
    padding: $spacingBase * 10 $spacingBase * 10 $spacingBase * 10 $spacingBase * 25;
    margin-left: $spacingBase * 4;
  }

  @include media-breakpoint-up(lg) {
    padding: $spacingBase * 10 $spacingBase * 10 $spacingBase * 10 $spacingBase * 40;
    margin-left: $spacingBase * 8;
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: $spacingBase * 20;
  }

  p {
    @include typography($typographyH3, xs);

    font-weight: $fontWeightMedium;

    @include media-breakpoint-up(lg) {
      @include typography($typographyH2, lg);
    }
  }
}

.quoteMark {
  margin-bottom: $spacingBase * 5;

  svg {
    width: 33px;
    height: 25px;

    @include media-breakpoint-up(lg) {
      width: 71px;
      height: 53px;
    }
  }
}

.author {
  @include typography($typographyPBig);
}

.quoteImage {
  @include media-breakpoint-down(md) {
    width: 186px;
    height: $imageHeightXs;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 30px 30px $offset 30px;
      background-color: $white;
    }
  }

  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: 0;
    left: -$offset;
    width: 314px;
    height: $imageHeightMd;
  }

  @include media-breakpoint-up(lg) {
    width: 404px;
    height: $imageHeightLg;
  }
}
