@import "lib/scss/shared";

.carousel {
  &.noSwipe {
    cursor: auto;
    user-select: auto;
  }
}

.container {
  @include typography($typographyPBig);

  flex-direction: column-reverse;

  @include media-breakpoint-up(xl) {
    height: 100%;
  }

  > div:last-child {
    padding: 0;
  }

  figcaption {
    @include media-breakpoint-down(sm) {
      @include typography($typographyH2);
    }
  }
}

.readMore {
  margin-left: $spacingBase * -5;
  margin-bottom: $spacingBase * 6;
}
