@import "lib/scss/shared";

.link {
  &.icon {
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    &.iconLeft svg {
      margin-right: $spacingBase;
    }

    &.iconRight svg {
      order: 1;
      margin-left: $spacingBase;
    }
  }
}
